/* intro */
#intro {
  position: fixed;
  inset: 0 0 0 0;
  background: linear-gradient(135deg, #00b4db 20%, #0083b0 80%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5%;
  align-items: center;
  z-index: 9999;
  text-align: center;
  animation: fadeOut 1s ease-in-out 3s forwards;
  animation-delay: 4s;
}
#intro h1 {
  font-size: 15em;
  margin: 0.2em 0;
  line-height: 0.5em;
  animation: slide-in-blurred-top 1.25s cubic-bezier(0.23, 1, 0.32, 1) both;
}
#intro .intro-box {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.2em 0.5em;
  border-radius: 15px;
  box-shadow: 8px 8px 16px #d1d9e63d, -8px -8px 16px #ffffff1a;
  animation: slide-in-blurred-top 0.5s cubic-bezier(0.23, 1, 0.32, 1) both;
}
#intro h3 {
  font-size: 2em;
  margin: 0.1em 0;
  animation: slide-in-blurred-top 2s cubic-bezier(0.23, 1, 0.32, 1) both;
}
#intro p {
  font-size: 1.4em;
  opacity: 0;
  animation: fadeIn 2s ease forwards;
  animation-delay: 1s;
}
#intro .members {
  margin-top: 20em;
  line-height: 2em;
  opacity: 0;
  animation: fadeIn 2s ease forwards;
  animation-delay: 2.5s;
}
#intro .members span {
  display: inline-block;
  margin: 0em 0.4em;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 0.5em 0.5em;
}
/* end intro */
@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform-origin: 50% 0%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}
